@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .overflow#{$infix}-auto {
      overflow: auto;
    }

    .overflow#{$infix}-hidden {
      overflow: hidden;
    }
  }
}
